h1.text-center Bienvenido a Deluque Soluciones
p.text-center Somos una plataforma que brinda soluciones de logística en reparaciones para el hogar o cualquier lugar donde se requiera un servicio.
p.text-center Contamos con el personal capacitado para atender las necesidades de una forma eficaz y con calidad.

= render 'carousel'

p.text-center Contactanos si requieres de más información